header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    top:0;
}
.name{
    position: absolute;
    font-size: 100px;
    z-index: 2;
    left: 35%;
    top:25%;
}
.arti{
    font-weight: 900;
    color: #ffffff;
}
.eslogan{
    position: absolute;
    font-size: 20px;
    bottom: 28vw;
    left: 12vw;
    cursor: pointer;
}

.eslogan:hover{
    /* box-shadow: 1px 0px 20px #42bb52; */
    font-weight: 900;
    color: #fdfdfd;
    bottom: 28vw;
    left: 12vw;
    
}

.a {
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  
  .a::before,
  .a::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }
  .a::before {
    background-color: #3563fa;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  .a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #3563fa;
  }
  
  .a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
  .a:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
  .a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .a:hover span {
    transform: translate3d(-200%, 0, 0);
  }
  
  /* Presentational Styles */
  body {
      display: grid;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
      line-height: 1.5;
    height: 100vh;
      place-items: center;
  }
  
  .a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 900;
      vertical-align: top;
  }

    
.icon-scroll{
    background-color: #ffffff00;
    position: absolute;
    top: 750px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transform: translateY(-50%);
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }
  
 
  
 
  
  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  
  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  
  .scroll {
    width: 50px;
    height: 50px;
    bottom: 9.6cm;
    right: 30px;
    border: 4px solid #ffffff00;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    cursor: pointer;
    
  }
  
  .scroll::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    transform: rotate(-45deg);
  }
  
  @keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
  
 
  
  @keyframes scroll {
    0% {
      height: 40px;
    }
    30% {
      height: 70px;
    }
    60% {
      height: 40px;
    }
  }
  
  @-webkit-keyframes scroll {
    0% {
      height: 40px;
    }
    30% {
      height: 70px;
    }
    60% {
      height: 40
    }} 
    .color-2{
      width: 100%;
      height: 885px;
      background-color: #000000;
    }
    #video-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 800px;
      z-index: -1;
    }
    .contenido {
      position: relative;
      z-index: 1;
     
    }



    /* ----------------//--------------------------//-------------------------/*/

    @keyframes slidein {
      0% {
        top: -400px;
        opacity: 0;
      }
      100% {
        opacity: 1;
        top: 0px;
      }
    }
    @keyframes slideout {
      0% {
        top: 0;
        opacity: 1;
      }
      100% {
        top: -400px;
        opacity: 0;
      }
    }
   
    body #scene {
   
      width: 1000px;
      height: 400px;
      position: absolute;
      top: 170%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      overflow: hidden;
    }
    body #scene #left-zone {
      background: #fff;
      height: 75%;
      flex-grow: 0;
      display: flex;
      width: 350px;
      align-items: center;
      justify-content: left;
    }
    body #scene #left-zone .list {
      display: flex;
      list-style: none;
      align-content: stretch;
      flex-direction: column;
      flex-grow: 1;
      margin: 0;
      padding: 0;
    }
    body #scene #left-zone .list li.item input[type=radio] {
      display: none;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ label {
      display: block;
      opacity: 0.5;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ label:first-letter {
      text-transform: uppercase;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ label:hover {
      opacity: 0.75;
      cursor: pointer;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ label.label_strawberry:before {
      content: " ";
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      margin-left: 15px;
      background-image: url("../img/musica.gif");
      background-position: center;
      background-size: 75% 75%;
      background-repeat: no-repeat;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ label.label_banana:before {
      content: " ";
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      margin-left: 15px;
      background-image: url("../img/pintura.webp");
      background-position: center;
      background-size: 75% 75%;
      background-repeat: no-repeat;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ label.label_apple:before {
      content: " ";
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      margin-left: 15px;
      background-image: url("../img/diseño.gif");
      background-position: center;
      background-size: 75% 75%;
      background-repeat: no-repeat;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ label.label_orange:before {
      content: " ";
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      margin-left: 15px;
      background-image: url("../img/fotografia.gif");
      background-position: center;
      background-size: 75% 75%;
      background-repeat: no-repeat;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content {
      position: absolute;
      left: 350px;
      top: -400px;
      width: 650px;
      height: 400px;
      animation-duration: 0.75s;
      animation-name: slideout;
      animation-timing-function: ease-out;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content.content_strawberry .picto {
      height: 100px;
      width: 100px;
      margin-top: 10%;
      background-image: url("../img/musica.gif");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content.content_strawberry h1 {
      color: #D64541;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content.content_banana .picto {
      height: 100px;
      width: 100px;
      margin-top: 10%;
      background-image: url("../img/pintura.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content.content_banana h1 {
      color: #F5D76E;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content.content_apple .picto {
      height: 100px;
      width: 100px;
      margin-top: 10%;
      background-image: url("../img/diseño.gif");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content.content_apple h1 {
      color: #00B16A;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content.content_orange .picto {
      height: 100px;
      width: 100px;
      margin-top: 10%;
      background-image: url("../img/fotografia.gif");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content.content_orange h1 {
      color: #F27935;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content h1:first-letter {
      text-transform: uppercase;
    }
    body #scene #left-zone .list li.item input[type=radio] ~ .content p {
      max-width: 50%;
      text-align: center;
    }
    body #scene #left-zone .list li.item input[type=radio]:checked ~ label {
      opacity: 1;
      animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_strawberry {
      color: #D64541;
      border-right: solid 4px #D64541;
    }
    body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_banana {
      color: #F5D76E;
      border-right: solid 4px #F5D76E;
    }
    body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_apple {
      color: #00B16A;
      border-right: solid 4px #00B16A;
    }
    body #scene #left-zone .list li.item input[type=radio]:checked ~ label.label_orange {
      color: #F27935;
      border-right: solid 4px #F27935;
    }
    body #scene #left-zone .list li.item input[type=radio]:checked ~ .content {
      animation-duration: 0.75s;
      animation-name: slidein;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    body #scene #middle-border {
      background-color: #eee;
      height: 75%;
      flex-grow: 1;
      max-width: 2px;
      z-index: 0;
    }
    body #scene #right-zone {
      background: #fff;
      height: 100%;
      flex-grow: 3;
    }
    .title2{
      position: absolute;
      top: 120%;
      left: 30%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 60px;
      font-weight: 800;
      color:#ffffff;
    }
    .logo2{
      margin-top: 44%;
      width: 100px;
      height: auto;
    }